<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NaijaFarmerDBConnection" connectionString="Data Source=localhost;initial catalog=NaijaFarmerDB;User ID=sa;Password=timothy; Integrated Security=true" providerName="System.Data.SqlClient" />

  </connectionStrings>
</configuration>