<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="LeaveApplicationDBConnection" connectionString="Data Source=DESKTOP-KG7SLVL;initial catalog=LeaveApplicationDB;User ID=sa;Password=timothy; Integrated Security=true" providerName="System.Data.SqlClient" />-->
    <add name="LeaveApplicationDBConnection" connectionString="Data Source=DESKTOP-KG7SLVL;initial catalog=LeaveApplicationDB;Integrated Security=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>